/*---------------RESET------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
/*---------------------------------*/
html {
    font-size: 16px;
}

body {
    margin: 1.3rem;
    background-image: url(http://img4.hostingpics.net/pics/9263722pn3m9n5copie.jpg);
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size:60px;
  color: white;
  opacity: 0.8;
}

p {
font-family: 'Playfair Display', serif;
color: black;
}

.SavannahSize {
  font-size: 25px;
}

.elephant {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
    background-image: url('https://images.unsplash.com/photo-1438866612080-aba418f9046c?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=976&q=80&cs=tinysrgb');
    background-size: cover;
    border: 1px solid grey;
    z-index: 9
}

/*------------Grille content-----------*/
#container {
    display: flex;
    flex-direction: column;
} 

.bottom {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top img{
    max-width: 100%;
}

.bottom img {
    width: 33%;
    height: 30%;
    margin-top: 1rem;
}

/*-----------Média queries-------------*/
@media screen and (max-width: 600px) {
    .bottom {
        display: flex;
        flex-direction: column;
    }
    .bottom img {
        width: 100%;
        text-align: center;
    }
    .bottom img:nth-child(3) {
        margin-bottom: 10px;
    }
}
/*-------------------------------------*/
/*--------------Footer-----------------*/
.footer {
  height: 200px;
  width: auto;
  margin-top: 1rem;
  background-color: rgba(179, 0, 0, 0.1);
  opacity: 1;
  z-index: 1;
}


/*.imgTwit {
  height: auto;
  width: 60px;
  position: absolute;
  top: 120px;
  left: 90%;
}
.imgFb {
  height: auto;
  width: 60px;
  position: absolute;
  top: 40px;
  left: 90%;
}
.textTwit {
  position: absolute;
  top: 60px;
  left: 85%;
}
.textFb {
  position: absolute;
  top: 132px;
  left: 83%;*/
}
